<!DOCTYPE html>
<html lang="en"></html>
<head>
  <meta charset="UTF-8">
  <title>Laskuri</title>
</head>
<body>
  <h2>Ohtulaskuri</h2>
  <div>nappia painettu {{ value }} kertaa</div>
  <form action="/increment" method="POST">
    <button type="submit">
      Paina
    </button>
  </form>
  <form action="/reset" method="POST">
    <button type="submit">
      Nollaa
    </button>
  </form>
  <form action="/setvalue" method ="POST">
  Aseta arvo:
  <input type="number" name="value" id="value" pattern="[1-9][0-9]{0,15}" required /> 
    <button type="submit">
      Aseta
    </button>
</form>
</body>
</html>